*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin-top: 50px;
    background-color: rosybrown;
}
img {
    border-radius: 50%;
    margin-left: 600px;
    float: left;
    margin-bottom: 30px;
}
#content {
    float: right;
    margin-right: 350px;
    margin-top: 200px;
}
.heading {
    color: azure;
}


#trap1 {
    width: 50%;
    text-align: center;
    float: left;
}
#trap2 {
    width: 50%;
    text-align: center;
    float: right;
}

.song1 {
    background-color: brown;
    padding-top: 30px;
}
.song2 {
    background-color: turquoise;
    padding-top: 30px;
}
.song3 {
    background-color: blueviolet;
    padding-top: 30px;
}
.song4 {
    background-color: brown;
    padding-top: 30px;
}
.song5 {
    background-color: turquoise;
    padding-top: 30px;
}
.song6 {
    background-color: blueviolet;
    padding-top: 30px;
}

